@model ToDoListMVC.Models.Tasks

@{
    ViewData["Title"] = "Create";
}

<script type="text/javascript">
</script>

<h1>Tasks</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-group">
                <input asp-for="Description" class="form-control" />

                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Add!</button>
                </span>
            </div>
            <span asp-validation-for="Description" class="text-danger"></span>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}